<?xml version="1.0"?>
<Configurations>
  <Configuration>
    <Sites>
      <Site Name="Home" Url="" Template="Home" Location="Home" BaseTemplate="ENTERWIKI#0"/>
      <Site Name="Projects" Url="projects" Template="Projects" Location="Projects" BaseTemplate="ENTERWIKI#0"/>
      <Site Name="Project123" Url="projects/project123" Template="Project" Location="Project" BaseTemplate="ENTERWIKI#0"/>
    </Sites>
    
    <Databases>
      <Database>
        
      </Database>
    </Databases>
  </Configuration>
</Configurations>